.acordeon-cuentas[b-dtfn2716wq] {
    color: black !important;
    font-size: 20px;
}

.acordeon-cuentas button > span[b-dtfn2716wq] {
     display: flex;
     justify-content: space-between;
     width: 100%;
}

.acordeon-cuentas ul li[b-dtfn2716wq] {
     display: flex;
     justify-content: space-between;
}

.acordeon-cuentas .accordion-collapse[b-dtfn2716wq] {
     font-size: 18px;
}